#apply {
  padding: 4em 0;

  h1 {
    font-size: 3em;
  }

  p.intro {
    font-size: 1.5em;
    font-weight: $thin-font-weight;
    margin: 1em 0 2em;
  }

  .start-buttons #apply-start {
    background-color: $primary-color;
    border: 1px solid $primary-color;
    color: $light-color;
    @include transition(background-color);

    &:hover {
      background-color: darken($primary-color, 5%);
    }
  }
}
