$navbar-height: 50px;

html, body {
  color: $dark-color;
}

body {
  background-color: $dark-color;
}

header {
  nav.navbar {
    background-color: $primary-color;
    border-radius: 0;
    border-bottom: none;
    margin-bottom: 0;
    opacity: 1;
    @include transition(opacity);

    &.affix-top {
      opacity: 0;
    }

    a.navbar-brand img {
      height: 25px;
      display: inline-block;
    }

    a.navbar-brand, .navbar-nav > li > a {
      color: $light-color;
      @include transition(color);

      &.apply {
        border: 1px solid $light-color;
        border-radius: 4px;
        padding: 5px 10px;
        margin: 10px 5px;
        background-color: $primary-color;
        @include transition(background-color);
      }

      &:hover {
        color: $dark-color;

        &.apply {
          background-color: mix($primary-color, $light-color, 10%);
        }
      }
    }
  }
}

#main-content {
  // This is required as the navbar is fixed-top
  margin-top: $navbar-height;
  background-color: $light-color;
}

footer {
  background-color: $dark-color;
  color: $light-color;
  text-align: center;
  font-size: 0.9em;
  padding: 1em 0;

  nav {
    a {
      color: $light-color;
      margin: 0 1em;
      @include transition(color);

      &:hover {
        color: $primary-color;
        text-decoration: none;
      }
    }
  }

  p {
    margin: 1.5em 0 1em;
  }
}

.slide {
  height: 100vh;
}

.vcenter {
  border: 1px solid transparent;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}

@for $i from 1 through 6 {
  h#{$i} {
    font-weight: $thin-font-weight;
  }
}
