#home-page {
  header {
    nav.navbar {
      opacity: 0;
      @include transition(opacity);

      &.affix-top {
        opacity: 0;
      }

      &.affix {
        opacity: 1;
      }
    }
  }
}

#home {
  #land {
    border: 1px solid transparent;
    background-image: url('../images/highway.jpg');
    background-size: cover;
    background-position: bottom center;
    margin-top: -$navbar-height;
    color: $light-color;

    h1 {
      font-size: 14vmin;
    }

    h2 {
      font-size: 7vmin;
    }

    a.apply {
      font-size: 7vmin;
      display: block;
      font-weight: $thin-font-weight;
      margin: 10vmin auto 0;
      color: $light-color;
      background-color: rgba(0,0,0,0.3);
      border: 1px solid $light-color;
      width: 55vmin;
      border-radius: 4px;
      @include transition(background-color);

      &:hover {
        text-decoration: none;
        background-color: rgba(0,0,0,0.1)
      }
    }
  }

  #about {
    background-image: url('../images/adventure.jpg');
    background-size: cover;
    background-attachment: fixed;

    p {
      text-align: right;
      font-size: 7vmin;
      width: 50vw;
      margin: 0 4vw 0 auto;
    }
  }

  #learn {
    padding: 15vh 0;
    background-color: #8e44ad;
    color: $light-color;

    h2 {
      text-align: center;
      font-size: 4vw;
    }

    .skill {
      background-color: $light-color;
      color: $dark-color;
      margin-top: 30px;
      border-radius: 4px;
      padding: 15px;
      opacity: 0.85;
      @include transition(opacity);

      &:hover {
        opacity: 1;
      }

      .logo-container {
        width: 100px;
        float: left;
        text-align: center;
      }

      .skill-info {
        margin-left: 120px;

        h4 {
          font-size: 3em;
          color: $primary-color;
        }

        p {
          font-size: 1.5em;
        }
      }
    }
  }
}
